#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE  0
#define SYMB  1
#define NUMB  2
#define FUNC  3
#define XDRIV 4
#define MDRIV 5
#define MICE 7
#define NAVI  8
#define BT    9

&sk {
  quick-release;
};

/ {
  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <1 2>;
      then-layer = <3>;
    };
  };

  behaviors {
    hltk: holdlayer_tapkey {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <175>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
  combos {
    compatible = "zmk,combos";
    combo_input_switch {
      timeout-ms = <50>;
      key-positions = <26 27>;
      layers = <0>;
      bindings = <&kp LA(SPACE)>;
    };
    combo_backspace {
      timeout-ms = <50>;
      key-positions = <20 21>;
      layers = <0>;
      bindings = <&kp BSPC>;
    };
    combo_lgui {
      timeout-ms = <50>;
      key-positions = <15 16>;
      layers = <0>;
      bindings = <&kp LGUI>;
    };
    combo_rgui {
      timeout-ms = <50>;
      key-positions = <19 20>;
      layers = <0>;
      bindings = <&kp RGUI>;
    };
    combo_esc {
      timeout-ms = <50>;
      key-positions = <14 15>;
      layers = <0>;
      bindings = <&kp ESC>;
    };
    combo_enter {
      timeout-ms = <50>;
      key-positions = <32 33>;
      layers = <0>;
      bindings = <&kp RET>;
    };
    combo_tab {
      timeout-ms = <50>;
      key-positions = <2 3>;
      layers = <0>;
      bindings = <&kp TAB>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      display-name = "BASE";
      /*
      * ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
      * │      │  Q   │  W   │  E   │  R   │  T   │   │  Y   │  U   │  I   │ Alt  │ Bsp  │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  A   │  S   │  D   │  F   │  G   │   │  H   │  N   │  K   │  O   │  L   │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  Z   │  X   │  C   │  V   │  B   │   │  J   │  M   │  P   │ Ctl  │ Caps │      │
      * └──────┴──────┴──────┴──────┴──────┴──────┘   └──────┴──────┴──────┴──────┴──────┴──────┘
      *                      ┌──────┬──────┬──────┐   ┌──────┬──────┬──────┐
      *                      │ Alt␣ │ Num  │ Nav␣ │   │ Sft  │ Sym  │ Cmd␣ │
      *                      └──────┴──────┴──────┘   └──────┴──────┴──────┘
      */
      bindings = <
        &none &kp Q &kp W         &kp E &kp R &kp T     &kp Y &kp U         &kp I &sk LALT  &kp BSPC &none
        &none &kp A &kp S         &kp D &kp F &kp G     &kp H &kp N         &kp K &kp O     &kp L    &none
        &none &kp Z &hltk XDRIV X &kp C &kp V &kp B     &kp J &hltk MDRIV M &kp P &sk LCTRL &kp CAPS &none

        &tog MICE &mo NUMB &hltk NAVI SPACE         &kp LSHFT &mo SYMB &key_repeat
      >;
    };

    symbs_layer {
      display-name = "Symb";

      /*
      * ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
      * │      │  ~   │  @   │  +   │  ^   │      │   │      │  $   │  =   │  :   │      │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  /   │  !   │  ,   │  .   │  *   │   │  #   │  “   │  ‘   │  |   │  ;   │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  \   │  _   │  -   │  &   │      │   │      │  %   │  ?   │  `   │      │      │
      * └──────┴──────┴──────┴──────┴──────┴──────┘   └──────┴──────┴──────┴──────┴──────┴──────┘
      *                      ┌──────┬──────┬──────┐   ┌──────┬──────┬──────┐
      *                      │ Cmd  │ Func │  ␣   │   │      │      │      │
      *                      └──────┴──────┴──────┘   └──────┴──────┴──────┘
      */
      bindings = <
        &none &kp TILDE &kp AT    &kp PLUS  &kp CARET &none        &none    &kp DLLR  &kp EQUAL &kp COLON &none    &none
        &none &kp FSLH  &kp EXCL  &kp COMMA &kp DOT   &kp ASTRK    &kp HASH &kp DQT   &kp SQT   &kp PIPE  &kp SEMI &none
        &none &kp BSLH  &kp UNDER &kp MINUS &kp AMPS  &none        &none    &kp PRCNT &kp QMARK &kp GRAVE &none    &none

        &none &trans &kp SPACE    &none &trans &none
      >;
    };

    numbrkt_layer {
      display-name = "Num";

      /*
      * ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
      * │      │  +   │  1   │  2   │  3   │  ,   │   │      │  <   │  >   │  =   │      │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  0   │  4   │  5   │  6   │  .   │   │  {   │  (   │  )   │  }   │  ⌥N  │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  ⇧⌘  │  7   │  8   │  9   │  -   │   │      │  [   │  ]   │      │      │      │
      * └──────┴──────┴──────┴──────┴──────┴──────┘   └──────┴──────┴──────┴──────┴──────┴──────┘
      *                      ┌──────┬──────┬──────┐   ┌──────┬──────┬──────┐
      *                      │      │      │      │   │      │ Func │ Alt  │
      *                      └──────┴──────┴──────┘   └──────┴──────┴──────┘
      */
      bindings = <
        &none &kp PLUS     &kp N1 &kp N2 &kp N3 &kp COMMA    &none    &kp LT   &kp GT   &kp EQUAL &none     &none
        &none &kp N0       &kp N4 &kp N5 &kp N6 &kp DOT      &kp LBRC &kp LPAR &kp RPAR &kp RBRC  &kp LA(N) &none
        &none &kp LS(LGUI) &kp N7 &kp N8 &kp N9 &kp MINUS    &none    &kp LBKT &kp RBKT &none     &none     &none

        &none &trans &none    &none &trans &kp RALT
      >;
    };
    function_layer {
      display-name = "Func";

      /*
      * ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
      * │      │  F1  │  F2  │  F3  │  F4  │      │   │      │      │      │      │      │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  F5  │  F6  │  F7  │  F8  │      │   │      │      │      │      │      │      │
      * ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
      * │      │  F9  │ F10  │ F11  │ F12  │      │   │ Mute │  V-  │  V+  │      │ Cmk  │      │
      * └──────┴──────┴──────┴──────┴──────┴──────┘   └──────┴──────┴──────┴──────┴──────┴──────┘
      *                      ┌──────┬──────┬──────┐   ┌──────┬──────┬──────┐
      *                      │  BT  │      │      │   │      │      │      │
      *                      └──────┴──────┴──────┘   └──────┴──────┴──────┘
      */
      bindings = <
        &none &kp F1 &kp F2  &kp F3  &kp F4  &none    &none      &kp C_BRI_DEC &kp C_BRI_UP &none &to BT &none 
        &none &kp F5 &kp F6  &kp F7  &kp F8  &none    &kp C_MUTE &kp C_VOL_DN  &kp C_VOL_UP &none &none  &none 
        &none &kp F9 &kp F10 &kp F11 &kp F12 &none    &none      &none         &none        &none &none  &none 

        &none &none &none    &none &none &none
      >;
    };

    xdrive_layer {
      display-name = "XDRV";
      bindings = <
        &none &none &none &none         &none &none            &none &none        &none    &none &none &none
        &none &none &none &kp LA(SPACE) &none &none            &none &kp LA(BSPC) &kp BSPC &none &none &none
        &none &none &none &none         &none &none            &none &none        &none    &none &none &none

        &none &none &key_repeat    &key_repeat &none &none
      >;
    };

    mdrive_layer {
      display-name = "MDRV";
      bindings = <
        &none &none &none    &kp UP   &none     &none    &none &none &none &none &none &none
        &none &none &kp LEFT &kp DOWN &kp RIGHT &none    &none &none &none &none &none &none
        &none &none &none    &none    &none     &none    &none &none &none &none &none &none

        &none &none &key_repeat    &key_repeat &none &none
      >;
    };

    mice_layer {
      display-name = "MICE";
      bindings = <
        &none  &msc SCRL_RIGHT &msc SCRL_UP   &msc SCRL_LEFT &mkp MCLK      &none          &none          &none        &none           &none
        &none  &mkp MCLK       &mkp RCLK      &mkp LCLK      &none          &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &none
        &none  &none           &msc SCRL_DOWN &none          &none          &trans         &mkp MB4       &mkp MCLK    &mkp MB5        &none

        &none &tog MICE &hltk NAV SPACE    &none &tog MICE &none
      >;
    }

    nav_layer {
      display-name = "Nav";

      /*
      * ┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
      * │       │   ~   │  Tab  │  Bsp  │  Ent  │  Ctl  │   │       │       │ Alt␣  │       │       │       │
      * ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      * │       │ Alt␣  │ Cmd␣  │  Sft  │  Cmd  │  C⌥⌘  │   │   ←   │   ↓   │   ↑   │   →   │       │       │
      * ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      * │       │ Cmd+Z │ Cmd+X │ Cmd+C │ Cmd+V │  Alt  │   │       │       │       │       │       │       │
      * └───────┴───────┴───────┴───────┴───────┴───────┘   └───────┴───────┴───────┴───────┴───────┴───────┘
      *                         ┌───────┬───────┬───────┐   ┌───────┬───────┬───────┐
      *                         │       │       │       │   │  Tab  │       │       │
      *                         └───────┴───────┴───────┘   └───────┴───────┴───────┘
      */
      bindings = <
        &none &kp TILDE     &kp TAB       &kp BSPC  &kp RET   &kp LCTRL             &none    &none    &kp LA(SPACE) &none     &none &none
        &none &kp LA(SPACE) &kp LG(SPACE) &kp LSHFT &kp LGUI  &kp LC(LA(LGUI))      &kp LEFT &kp DOWN &kp UP        &kp RIGHT &none &none
        &none &kp LG(Z)     &kp LG(X)     &kp LG(C) &kp LG(V) &kp LALT              &none    &none    &none         &none     &none &none

        &none    &none    &none         &kp TAB     &none       &none
      >;
    };

    control_layer {
      display-name = "BT";

      /*
      * ┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
      * │       │       │       │       │       │       │   │       │       │       │       │       │       │
      * ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      * │       │  BT0  │  BT1  │  BT2  │  BT3  │  BT4  │   │       │       │       │       │       │       │
      * ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      * │       │       │       │       │       │       │   │       │       │       │       │       │       │
      * └───────┴───────┴───────┴───────┴───────┴───────┘   └───────┴───────┴───────┴───────┴───────┴───────┘
      *                         ┌───────┬───────┬───────┐   ┌───────┬───────┬───────┐
      *                         │ BTclr │ Base  │       │   │       │ Base  │       │
      *                         └───────┴───────┴───────┘   └───────┴───────┴───────┘
      */
      bindings = <
        &none &none        &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none &none &none &none &none &none
        &none &bt BT_SEL 0 &none        &none        &none        &none          &none &none &none &none &none &none
        &none &none        &none        &none        &none        &none          &none &none &none &none &none &none

        &none      &to BASE        &bt BT_CLR          &none    &to BASE    &none
      >;
    };
  };
};

